.conteudo__produto {
    display: grid;
    grid-template-columns: 10fr 2fr;
    gap: 9px;
    grid-template-areas:
        "divProduto botao";
}

.produto__div{
    display: grid;
    background-color: #F2F2F2;
    height: 72px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    align-items: center;
    grid-template-areas: 
        "imagem nome preco estoque";
    grid-area: divProduto;
    color: #000000;
}

.produto__imagem {
    grid-area: imagem;
}

.produto__imagem img {
    width: 72px;
    height: 72px;
}

.produto__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 15pt;
    grid-area: nome;
}

.produto__preco {
    font-weight: 100;
    font-style: normal;
    grid-area: preco;
}

.produto__estoque {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    grid-area: estoque;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.produto__botaoEditar a{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.conteudo__container span {
    display: inline;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
    color: #2135A6;
    grid-area: botao;
}

.conteudo__container button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4563BF;
    width: 100%;
    height: 72px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
}