/* ------------ GERAL ------------ */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
}

a {
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

body {
    display: grid;
    padding: 20px;
    grid-template-columns: 2fr 10fr;
    gap: 24px;
    grid-template-areas:
    "lateral busca"
    "lateral dashboard";
    grid-auto-rows: min-content auto;
}

main {
    grid-area: dashboard;
    margin-top: 36px;
}

header {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    background-color: #4563BF;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-area: lateral;
    position: fixed;
    width: 15%;
}

header h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

header a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
}

.menu__lateral {
    display: grid;
    gap: 36px;
}

.menu__lateral div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu__lateral button {
    background-color: #4563BF;
    color: #FFFFFF;
}

.menu__busca {
    display: flex;
    align-items: center;
    grid-area: busca;
    position: fixed;
    top: 0;
    left: calc(15% + 24px);
    width: calc(85% - 24px);
    z-index: 1000;
    background-color: #FFFFFF;
    padding: 20px;
}

.menu__busca input {
    flex-grow: 1;
    height: 24px;
    border: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    background-color: #FFFFFF;
    border-bottom: 1px solid #4563BF;
    color: #4563BF;
}

.menu__busca input:focus {
    font-weight: 400;
    border-bottom: 2px solid #4563BF;
}

.menu__busca img {
    width: 24px;
    height: 24px;
}

.menu__busca button {
    background-color: #FFFFFF00;
    cursor: pointer;
    color: #2135A6;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
}

#conteudo__titulo {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    margin-bottom: 20px;
}