/* ------------ GERAL ------------ */

#conteudo__titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12pt;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    grid-template-areas:
        "div-geral div-geral div-imagem"
        "div-valor div-oferta div-imagem"
        "div-novidade div-novidade div-imagem"
        "div-estoque div-estoque botao-cadastrar";
}

fieldset {
    padding: 18px;
    border-radius: 18px;
    color: #4563BF;
}

fieldset h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15pt;
    grid-area: geral-titulo;
    margin-bottom: 12px;
}


.formulario label{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
    margin-bottom: 6px;
}

.formulario p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}

.formulario input {
    border: 0;
    outline: 0;
    height: 24px;
    margin-bottom: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    border-bottom: 1px solid #4563BF;
    color: #4563BF;
}

.formulario input::placeholder {
    font-weight: 200;
}

.formulario input:focus {
    font-weight: 500;
    border-bottom: 2px solid #4563BF;
}

.formulario input:disabled {
    border:0;
    outline: 0;
}

.formulario textarea {
    resize: none;
    outline: 0;
    border: 1px solid #4563BF;
    border-radius: 7.5px;
    padding: 7.5px;
    width: auto;
    height: 150px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    color: #4563BF;
}

.formulario textarea::placeholder {
    font-weight: 200;
}

.formulario textarea:focus {
    font-weight: 500;
    border: 2px solid #4563BF;
}

/* ------------ INFOS GERAIS ------------ */

.formulario__geral {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    grid-area: div-geral;
}

.formulario__geral input {
    height: 21px;
    background-color: #F2F2F2
}

.formulario__geral select {
    appearance: none;
    outline: 0;
    background-color: #F2F2F2;
    border-bottom: 1px solid #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    margin-bottom: 18px;
    color: #4563BF;
}

.formulario__geral select:focus {
    border-bottom: 2px solid #4563BF;
}

.formulario__geral select:invalid {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
    color: #757575;
}

.formulario__geral option {
    appearance: none;
    border: 1px solid #4563BF;
    margin: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
}

#divId {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 18px;
}

#divId label {
    margin: 0 18px 0 0;
}

#divId input {
    margin-bottom: 0;
}

/* ------------ PRECO ------------ */

.formulario__valor {
    background-color: #F2F2F2;
    grid-area: div-valor;
}

.formulario__valor input {
    background-color: #F2F2F2;
}

.divPrecos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.preco__container {
    display: flex;
    align-items: center;
}

.preco__container label {
    margin-right: 10px;
}

.preco__container input {
    flex: 1;
    width: 100%;
    background-color: #F2F2F2;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    border-bottom: 1px solid #4563BF;
    color: #4563BF;
}

/* ------------ OFERTA ------------ */

.formulario__oferta {
    background-color: #F2F2F2;
    grid-area: div-oferta;
}

.formulario__oferta input {
    background-color: #F2F2F2;
}

.divOferta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.oferta__input {
    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
}

.oferta__input label {
    margin: 0 9px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.oferta__input input[type="radio"] {
    margin: 0 6px 0 0;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 2px solid #4563BF;
    font: inherit;
    float: left;
}

.oferta__input input[type="radio"]:checked {
    background-color: #4563BF;
}

.oferta__preco input {
    margin-bottom: 0;
}

/* ------------ NOVIDADE ------------ */

.formulario__novidade {
    background-color: #F2F2F2;
    grid-area: div-novidade;
}

.formulario__novidade input {
    background-color: #F2F2F2
}

.novidade__container {
    display: flex;
    flex-direction: row;
}

.novidade__container label {
    margin: 0 9px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.novidade__container input[type="radio"] {
    margin: 0 6px 0 0;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 2px solid #4563BF;
    font: inherit;
    float: left;
}

.novidade__container input[type="radio"]:checked {
    background-color: #4563BF;
}

/* ------------ ESTOQUE ------------ */

.formulario__estoque {
    background-color: #F2F2F2;
    grid-area: div-estoque;
}

.estoque__container {
    display: flex;
    align-items: center;
}

.estoque__container label {
    margin: 0 10px 0 0;
}

.estoque__container input {
    flex: 1;
    width: 100%;
    background-color: #F2F2F2;
    margin-bottom: 0;
    border: 0;
    outline: 0;
    height: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    border-bottom: 1px solid #4563BF;
    color: #4563BF;
}

/* ------------ IMAGEM ------------ */

.formulario__imagem {
    display: flex;
    flex-direction: column;
    background-color: #ADC0D9;
    grid-area: div-imagem;
}

.container__imgsPreview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}

.container__imgsPreview img {
    width: 168px;
    height: 168px;
}

.container__upload div {
    display: flex;
    flex-direction: column;
}

.container__uploadImg1 {
    margin-bottom: 18px;
}

#uploadImg1, #uploadImg2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-template-areas:
    "nomeArqImg labelImg";
}

#nomeArquivoImagem1, #nomeArquivoImagem2 {
    margin-bottom: 0;
    grid-area: nomeArqImg;
}

#labelImg1, #labelImg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4563BF;
    padding: 5px 0;
    margin-bottom: 0;
    width: 100%;
    height: 36px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    grid-area: labelImg;
    cursor: pointer;
}

#labelImg1:hover, #labelImg2:hover {
    background-color: #2135A6;
    font-weight: 400;
}

#imagem, #imagem2 {
    display: none;
}

.formulario__imagem input {
    background-color: #ADC0D9
}

.formulario__imagem input::placeholder {
    color: #000000;
}

/* ------------ BOTAO ------------ */

button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4563BF;
    padding: 5px 0;
    margin-bottom: 0;
    width: 100%;
    height: auto;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
    text-align: center;
    grid-area: botao-cadastrar;
}

button[type="submit"]:hover {
    background-color: #2135A6;
    font-weight: 700;
}