* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
}

a {
    color: #5A6273;
}

body {
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 25px 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: -20px;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
    grid-template-areas:
    "titulo titulo"
    "lista resumo"
    "desconto resumo"
    "frete resumo";
}

.conteudo__titulo {
    grid-area: titulo;
}

.conteudo__lista {
    grid-area: lista;
}

.conteudo__lista div:last-child {
    margin-bottom: 0;
    grid-area: lista;
}

.conteudo__item {
    background-color: #E7F2BD;
    display: grid;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    grid-template-areas:
    "imagem nome quantidade subtotal"
    "imagem preco quantidade deletar";
}

.item__imagem {
    grid-area: imagem;
}

.item__nome {
    grid-area: nome;
}

.item__preco {
    grid-area: preco;
}

.item__quantidade {
    background-color: #E7F2BD;
    grid-area: quantidade;
}

.item__quantidade button {
    background-color: #E7F2BD;
}

.quantidade__deletar {
    background-color: #E7F2BD;
    grid-area: deletar;
}

.item__subtotal {
    grid-area: subtotal;
}

.conteudo__desconto{
    background-color: #CCF294;
    border-radius: 15px;
    padding: 15px;
    grid-area: desconto;
}

.conteudo__frete {
    background-color: #CCF294;
    border-radius: 15px;
    padding: 15px;
    grid-area: frete;
}

.conteudo__resumo {
    background-color: #99D959;
    border-radius: 15px;
    padding: 15px;
    grid-area: resumo;
}

/* .conteudo__topo {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo ofertasAlgumas"
    "loja ofertasAlgumas";
    height: calc(92vh - 25px);
    padding: 20px;
}

#topo__titulo {
    background-color: #E7F2BD;
    border-radius: 14px;
    padding: 14px;
    grid-area: titulo;
}

#topo__titulo h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
}

#topo__titulo h3 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#topo__loja {
    display: flex;
    flex-direction: row;
    grid-area: loja;
}

#topo__loja div {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    background-color: #CCF294;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5px;
}

#topo__feed {
    background-color: #99D959;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ofertasAlgumas;
}

.conteudo__vitrine {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.vitrine__categorias {
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
} */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 50px;
}
