main {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
    grid-template-areas:
    "titulo titulo"
    "lista resumo"
    "desconto resumo"
    "frete resumo";
}

.conteudo__titulo {
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    margin-bottom: 20px;
    grid-area: titulo;
}

.conteudo__lista {
    grid-area: lista;
}

.conteudo__lista div:last-child {
    margin-bottom: 0;
    grid-area: lista;
}

#lista__carrinhoVazio h2 {
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 24pt;
    grid-area: nome;
}

.conteudo__item {
    display: grid;
    background-color: #F2F2F2;
    min-height: 120px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    grid-template-areas:
    "imagem nome preco quantidade subtotal"
    "imagem categoria preco quantidade deletar";
    color: #000000;
}

.item__imagem {
    grid-area: imagem;
}

.item__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 15pt;
    grid-area: nome;
}

#item__nome-link {
    color: #000000;
}

.item__categoria {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    grid-area: categoria;
}

.item__preco {
    font-weight: 100;
    font-style: normal;
    grid-area: preco;
}

.item__quantidade {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    grid-area: quantidade;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.item__quantidade button {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.item__quantidade #quantidade__qtde {
    font-weight: 100;
    font-style: normal;
}

.item__subtotal {
    display: flex;
    justify-content: right;
    font-weight: 900;
    font-style: bold;
    font-size: 15pt;
    grid-area: subtotal;
}

.quantidade__deletar {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: deletar;
}

.quantidade__deletar img {
    height: 15px;
    width: 15px;
}

@keyframes rotate90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.quantidade__deletar img:hover {
    animation: rotate90 1s ease forwards;
    transform: rotate(180deg);
    filter: invert(17%) sepia(30%) saturate(6963%) hue-rotate(227deg) brightness(94%) contrast(95%);
}

.conteudo__desconto{
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    background-color: #ADC0D9;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-template-areas:
    "tituloDesc inputDesc botaoDesc";
    grid-area: desconto;
}

.desconto__titulo {
    grid-area: tituloDesc;
}

.desconto_inputDiv {
    width: 100%;
    padding: 0 10px;
    grid-area: inputDesc; 
}

.desconto__input {
    display: inline-block;
    background-color: #ADC0D9;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.desconto__input::placeholder {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 9pt;
}

.desconto__input:focus {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    border-bottom: 2px solid #FFFFFF;
}

.desconto__botao {
    grid-area: botaoDesc;
    background-color: #ADC0D9;
    padding: 5px 0;
    align-items: center; 
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
}

.desconto__botao:hover {
    font-weight: 400
}

.conteudo__frete {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    background-color: #7999D9;
    border-radius: 15px;
    padding: 15px;
    grid-area: frete;
    grid-template-areas:
    "endereco freteTabela";
    color: #FFFFFF;
}

.frete_endereco {
    display: flex;
    flex-direction: column;
    grid-area: endereco;
}

.endereco__tituo{
    padding-bottom: 10px;
}

.endereco__dados {
    height: 100%;    
}

.endereco__dados span {
    display: flex;
    flex-direction: row;
}

.endereco__dados span h5{
    font-weight: 100;
    font-size: 10pt;
    padding-bottom: 5px;
}

.endereco__dados span h4{
    font-weight: 500;
    font-size: 10pt;
    padding-bottom: 5px;
}

.frete_tabela {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.frete_tabela table {
    width: 100%;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    font-size: 10pt;
    grid-area: freteTabela;
}

input[type="radio"] {
    appearance: none;
    background-color: #7999D9;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    border: 2px solid #FFFFFF;
    font: inherit;
}

input[type="radio"]:checked {
    background-color: #FFFFFF;
}

.frete_tabela table th:first-child,
.frete_tabela table td:first-child {
    width: auto;
    white-space: nowrap;
    padding-right: 6px;
}

.frete_tabela table th:last-child,
.frete_tabela table td:last-child {
    text-align: left;
}

.conteudo__resumo {
    background-color: #4563BF;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-area: resumo;
}

.conteudo__resumo table {
    width: 100%;
    margin-bottom: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.conteudo__resumo table th:first-child,
.conteudo__resumo table td:first-child {
    text-align: left;
}

.conteudo__resumo table th:last-child, 
.conteudo__resumo table td:last-child {
    text-align: right;
}

.conteudo__resumo table tr:last-child{
    height: 50px;
    vertical-align: bottom;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
}

.resumo__botoes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.resumo__botoes button {
    background-color: #4563BF;
    padding: 5px 0;
    align-items: center; 
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
}

.resumo__botoes button:hover {
    font-weight: 700;
}

button:disabled:hover {
    font-weight: 100;
    cursor: not-allowed;
}

/* ------------ FOOTER ------------ */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 0;
    color: #2135A6;
    font-family: "Roboto", sans-serif;
}

/* ------------ POP UP GERAL ------------ */

.container__acesso {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: none;
}

.container__acesso--exibir {
    display: flex;
}

.acesso__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    padding: 120px 240px;
}

.acesso__popUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    position: relative;
    z-index: 1000;
    grid-template-areas:
    "login cadastro";
}

.popUp__fechar {
    background-color: #FFFFFF00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 12px;
    left: calc(50% - 22px);
    color: #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.popUp__fechar:hover {
    font-weight: 400;
}

/* ------------ POP UP CONCLUSÃO ------------ */
.container__conclusao {
    display: none;    
}

.container__conclusao--exibir {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.conclusao__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    display: flex;
    align-items: center; /* Alinha o popup verticalmente no centro */
    justify-content: center; /* Alinha o popup horizontalmente no centro */
    padding: 0; /* Remove o padding */
}

.conclusao__popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: fit-content;
    height: fit-content;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    z-index: 1000;
}

.popup__mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.popup__mensagem img {
    width: 240px;
    height: 240px;
    margin-bottom: 24px;
}

.popup__mensagem p {
    font-weight: 300;
    font-style: normal;
    font-size: 18pt;
    align-self: center;
    text-align: center;
}

.popup__botao {
    background-color: #4563BF;
    padding: 5px 0;
    width: 300px;
    height: 36px;
    border-radius: 12px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}