* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
}

a {
    color: #000000;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 25px 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: -20px;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 0 60px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 20px;
    grid-template-areas:
    "titulo titulo"
    "lista resumo"
    "desconto resumo"
    "frete resumo";
}

.conteudo__titulo {
    grid-area: titulo;
}

.conteudo__lista {
    grid-area: lista;
}

.conteudo__lista div:last-child {
    margin-bottom: 0;
    grid-area: lista;
}

.conteudo__item {
    display: grid;
    background-color: #F2F2F2;
    min-height: 120px;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    grid-template-areas:
    "imagem nome preco quantidade subtotal"
    "imagem categoria preco quantidade deletar";
    color: #000000;
}

.item__imagem {
    grid-area: imagem;
}

.item__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: bold;
    font-size: 15pt;
    grid-area: nome;
}

#item__nome-link {
    color: #000000;
}

.item__categoria {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    grid-area: categoria;
}

.item__preco {
    font-weight: 100;
    font-style: normal;
    grid-area: preco;
}

.item__quantidade {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    grid-area: quantidade;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.item__quantidade button {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    align-items: top;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 12pt;
}

.item__quantidade #quantidade__qtde {
    font-weight: 100;
    font-style: normal;
}

.item__subtotal {
    display: flex;
    justify-content: right;
    font-weight: 900;
    font-style: bold;
    font-size: 15pt;
    grid-area: subtotal;
}

.quantidade__deletar {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    grid-area: deletar;
}

.quantidade__deletar img {
    height: 15px;
    width: 15px;
}

@keyframes rotate90 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.quantidade__deletar img:hover {
    animation: rotate90 1s ease forwards;
    transform: rotate(180deg);
    filter: invert(17%) sepia(30%) saturate(6963%) hue-rotate(227deg) brightness(94%) contrast(95%);
}

.conteudo__desconto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ADC0D9;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-area: desconto;
}

.desconto__input {
    background-color: #ADC0D9;    
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;  
}

.desconto__input:focus {
    border-bottom: 2px solid #2135A6;
}

.conteudo__frete {
    display: grid;
    justify-content: space-between;
    background-color: #7999D9;
    border-radius: 15px;
    padding: 15px;
    grid-area: frete;
    grid-template-areas:
    "endereco freteTabela";
    color: #FFFFFF;
}

.frete_endereco {
    grid-area: endereco;
}
.frete_tabela {
    grid-area: freteTabela;
}

.conteudo__resumo {
    background-color: #4563BF;
    border-radius: 15px;
    padding: 15px;
    color: #FFFFFF;
    grid-area: resumo;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 50px;
}
