/* ------------ GERAL ------------ */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
    text-decoration: none;
}

a {
    color: #2135A6;
}

body {
    color: #2135A6;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 60px;
}

/* ------------ HEADER ------------ */

header {
    margin: 25px 0; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:last-child {
    margin-left: 0;
}

.menu-sup__usuario li button {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #2135A6;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;  
}

/* ------------ CONTEÚDO ------------ */

.conteudo__topo {
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo ofertasAlgumas"
    "loja ofertasAlgumas";
    height: calc(92vh - 25px);
}

#topo__titulo {
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 14px;
    padding: 14px;
    grid-area: titulo;
}

#topo__titulo h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
}

#topo__titulo h3 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#topo__loja {
    display: flex;
    flex-direction: row;
    grid-area: loja;
}

#topo__loja a {
    background-color: #ADC0D9;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#topo__loja a:hover {
    background-color: #2135A6;
    color: #FFFFFF;
}

#topo__feed {
    color: #F2F2F2;
    background-color: #4563BF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ofertasAlgumas;
}

.conteudo__vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.vitrine__titulo {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: end;
}

.vitrine__categorias {
    color: #F2F2F2;
    background-color: #4563BF;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.vitrine__categorias:hover {
    background-color: #2135A6;
    color: #FFFFFF;
}

/* ------------ FOOTER ------------ */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 0;
}

/* ------------ POP UP GERAL ------------ */

.container__acesso {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: none;
}

.container__acesso--exibir {
    display: flex;
}

.acesso__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    padding: 120px 240px;
}

.acesso__popUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    position: relative;
    z-index: 1000;
    grid-template-areas:
    "login cadastro";
}

.popUp__fechar {
    background-color: #FFFFFF00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 12px;
    left: calc(50% - 22px);
    color: #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.popUp__fechar:hover {
    font-weight: 400;
}

/* ------------ POP UP CADASTRO ------------ */

.acesso__popUp button {
    background-color: #4563BF;
    padding: 5px 0;
    width: 300px;
    height: 36px;
    border-radius: 12px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}

.acesso__popUp button:hover {
    background-color: #2135A6;
}

.acesso__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    grid-area: login;
}

.acesso__login form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.acesso__login input {
    display: inline-block;
    background-color: #F2F2F2;
    width: 300px;
    height: 36px;
    border: 0;
    border-bottom: 1px solid #4563BF;
    outline: 0;
    color: #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.acesso__login input::placeholder {
    color: #4563BF;
}

.acesso__login input:focus {
    border-bottom: 2px solid #4563BF;
}

.acesso__cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #7999D9;
    padding: 120px 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    grid-area: cadastro;
}

/* ------------ POP UP PERFIL ------------ */

.acesso__perfil {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 24px 48px;
    border-radius: 24px;
    position: relative;
    z-index: 1000;
    font-family: "Roboto", sans-serif;
}

.acesso__perfil input {
    background-color: #F2F2F2;
    border-width: 0;
}

.acesso__perfil input:not([disabled]) {
    border-bottom: 1px solid #4563BF;
    background-color: #F2F2F2;
}

.acesso__perfil input:focus {
    outline: none;
    border-width: 0;
    border-bottom: 1px solid #4563BF;
}

.acesso__perfil span {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 24px;
    font-size: 12pt;
}

.acesso__perfil span:last-child {
padding-top: 36px;
}

.perfil__label {
    font-weight: 200;
    font-size: 15pt;
    color: #4563BF;
}

.perfil__input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15pt;
    color: #4563BF;
}

.perfil__input input {
    background-color: #F2F2F2;
}

.perfil__input input:not([disabled]) {
    border: none;
    border-bottom: 1px solid #4563BF;
    background-color: #F2F2F2;
}

.perfil__input input:not(:disabled):focus {
    border-bottom: 2px solid #4563BF;
}

.perfil__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.perfil__botoes button {
    background-color: #4563BF;
    width: 300px;
    height: 36px;
    border-radius: 12px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}

.perfil__botoes button:hover {
    background-color: #2135A6;
}

#botoesLogout {
    background-color: #D98879;
}

#botoesLogout:hover {
    background-color: #b24c3a;
}
