/* ------------ CONTEÚDO ------------ */

.conteudo__topo {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 480px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "titulo ofertasAlgumas"
    "loja ofertasAlgumas";
    height: calc(92vh - 25px);
}

#topo__titulo {
    color: #000000;
    background-color: #F2F2F2;
    border-radius: 14px;
    padding: 14px;
    grid-area: titulo;
}

#topo__titulo h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
}

#topo__titulo h3 {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#topo__loja {
    display: flex;
    flex-direction: row;
    grid-area: loja;
}

#topo__loja a {
    background-color: #ADC0D9;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

#topo__loja a:hover {
    background-color: #2135A6;
    color: #FFFFFF;
}

#topo__feed {
    color: #F2F2F2;
    background-color: #4563BF;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: ofertasAlgumas;
    position: relative;
}

.feed__slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 14px;
}

.feed__slider button {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#slider__botaoAnterior {
    left: 10px;
}

#slider__botaoProximo {
    right: 10px;
}

.feed__slider button img {
    height: 36px;
    width: 36px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.slider__imagens {
    display: flex;
    transition: transform 0.5s ease;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.slider__imagens li {
    min-width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__imagens img {
    width: 480px;
    height: 672px;
    object-fit: cover;
    border-radius: 14px;
}

.slider__indicadores {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.slider__indicadores li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
}

.slider__indicadores li.ativo {
    opacity: 1;
}

.conteudo__vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 0;
}

.vitrine__titulo {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: end;
}

.vitrine__categorias {
    color: #F2F2F2;
    background-color: #4563BF;
    height: 300px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.vitrine__categorias:hover {
    background-color: #2135A6;
    color: #FFFFFF;
}

/* ------------ FOOTER ------------ */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 0;
}

/* ------------ POP UP GERAL ------------ */

.container__acesso {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: none;
}

.container__acesso--exibir {
    display: flex;
}

.acesso__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    padding: 120px 240px;
}

.acesso__popUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    position: relative;
    z-index: 1000;
    grid-template-areas:
    "login cadastro";
}

.popUp__fechar {
    background-color: #FFFFFF00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 12px;
    left: calc(50% - 22px);
    color: #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.popUp__fechar:hover {
    font-weight: 400;
}