/* ------------ CONTEÚDO ------------ */

main {
    padding: 24px 0;
    flex: 1;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 36px;
    column-gap: 60px;
    row-gap: 24px;
    grid-template-areas: 
    "imagens informacoes"
    "imagens botoes";
}

.conteudo__imagens {
    width: auto;
    grid-area: imagens;
}

.imagens__produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    background-color: #7999D9;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    justify-self: center;
}

.imagens__produto img {
margin: 6px;
}

/* .imagens__relacionados {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.imagens__relacionados li {
    background-color: #CCF294;
    display: flex;
    flex-direction: row;
    width: 93px;
    height: 93px;
    border-radius: 14px;
} */

.conteudo__infos {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: #000000;
    grid-area: informacoes;
}

.infos__principal h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 10px;
}

#infos__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
    padding-bottom: 20px;
}

#infos__descricao {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 20px;
}

#infos__preco {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    padding-bottom: 20px;
}

.conteudo__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-area: botoes;
}

.botoes__quantidade {
    background-color: #4563BF;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    display: flex;
    height: 100%;
    width: 120px;
    border-radius: 18px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.botoes__quantidade button {
    background-color: #4563BF;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    align-items: center;
}

#envio__subtotal {
    font-size: 24pt;
}

#envio__adicionarCarrinho {
    background-color: #4563BF;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    height: 36px;
    width: 480px;
    border-radius: 15px;
}

#envio__adicionarCarrinho:hover {
    background-color: #2135A6;
}

/* ------------ FOOTER ------------ */

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 24px 0;
    margin-top: auto;
}

/* ------------ POP UP GERAL ------------ */

.container__acesso {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: none;
}

.container__acesso--exibir {
    display: flex;
}

.acesso__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    padding: 120px 240px;
}

.acesso__popUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    position: relative;
    z-index: 1000;
    grid-template-areas:
    "login cadastro";
}

.popUp__fechar {
    background-color: #FFFFFF00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 12px;
    left: calc(50% - 22px);
    color: #4563BF;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 12pt;
}

.popUp__fechar:hover {
    font-weight: 400;
}

/* ------------ POP UP CONCLUSÃO ------------ */

.container__conclusao {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    display: none;
}

.container__conclusao--exibir {
    display: flex;
}

.conclusao__planoDeFundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF90;
    z-index: 999;
    padding: 240px 480px;
}

.conclusao__popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: 24px;
    position: relative;
    z-index: 1000;
}

.popup__mensagem {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 48px;
}

.popup__mensagem h2 {
    font-weight: 300;
    font-style: normal;
    font-size: 24pt;
    align-self: center;
}

.popup__botao {
    background-color: #4563BF;
    padding: 5px 0;
    width: 300px;
    height: 36px;
    border-radius: 12px;
    align-items: center;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 12pt;
}


.acesso__popUp button:hover {
    background-color: #2135A6;
}