* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
}

html {
    height: 100%;
    min-height: 100%;
}

button {
    cursor: pointer;
}

a {
    color: #5A6273;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    margin: 24px 60px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: -20px;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 24px 0;
    flex: 1;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 36px;
    column-gap: 60px;
    row-gap: 24px;
    grid-template-areas: 
    "imagens informacoes"
    "imagens botoes";
}

.conteudo__imagens {
    flex-direction: column;
    align-items: center;
    grid-area: imagens;
}

.imagens__produto {
    background-color: #CCF294;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    justify-self: center;
}

/* .imagens__relacionados {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.imagens__relacionados li {
    background-color: #CCF294;
    display: flex;
    flex-direction: row;
    width: 93px;
    height: 93px;
    border-radius: 14px;
} */

.conteudo__infos {
    background-color: #E7F2BD;
    border-radius: 15px;
    padding: 15px;
    grid-area: informacoes;
}

.infos__principal h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 10px;
}

#infos__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
    padding-bottom: 20px;
}

#infos__descricao {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 20px;
}

#infos__preco {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24pt;
    padding-bottom: 20px;
}

.conteudo__botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    grid-area: botoes;
}

.botoes__quantidade {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    display: flex;
    height: 100%;
    width: 120px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.botoes__quantidade button {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    align-items: center;
}

#envio__subtotal {
    font-size: 24pt;
}

#envio__adicionarCarrinho {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 15pt;
    height: 36px;
    width: 480px;
    border-radius: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 24px 60px;
    margin-top: auto;
}