* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-width: 0;
}

button {
    cursor: pointer;
}

a {
    color: #5A6273;
}

body {
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #F2F2F2;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    margin: 25px 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav div {
    font-weight: bolder;
    font-size: 20px;
    margin-right: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: -20px;
}

nav ul li {
    margin-right: 20px;
}

main {
    padding: 20px;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 9fr 3fr;
    grid-template-rows: auto auto;
    gap: 100px;
    grid-template-areas: 
    "imagens informacoes"
    "imagens botoes";
}

.conteudo__imagens {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: imagens;
}

.imagens__produto {
    background-color: #CCF294;
    width: 300px;
    height: 300px;
    border-radius: 14px;
}

.imagens__relacionados {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.imagens__relacionados li {
    background-color: #CCF294;
    width: 93px;
    height: 93px;
    border-radius: 14px;
}

.conteudo__infos {
    grid-area: informacoes;
}

.infos__principal h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 10px;
}

#infos__nome {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30pt;
    padding-bottom: 20px;
}

#infos__descricao {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
    padding-bottom: 20px;
}

#infos__preco {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    padding-bottom: 20px;
}

.conteudo__botoes {
    display: grid;
    align-content: space-between;
    justify-content: end;
    align-items: center;
    justify-items: stretch;
    grid-template-areas: 
    "quantidade botaoEnviar"
    "subtotal botaoEnviar";
    grid-area: botoes;
}

.botoes__quantidade {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 12pt;
    display: flex;
    height: 30px;
    width: 100px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    grid-area: quantidade;
}

.botoes_quantidade button {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 12pt;
}

#envio__subtotal {
    grid-area: subtotal;
}

#envio__adicionarCarrinho {
    background-color: #99D959;
    color: #5A6273;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 12pt;
    height: 30px;
    width: 300px;
    border-radius: 15px;
    grid-area: botaoEnviar;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    margin: 25px 50px;
}